{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil{% endblock %}

{% block body %}


<div class="intro">
        <p>Bienvenue dans notre jeu ! Ici, tu vas invoquer et collectionner des cartes de Tarot. Ces cartes ont un rang, de C
            (les moins puissantes) à S (les plus fortes). Chaque carte possède une Puissance, et cette Puissance te permet de
            gagner des Points Cosmiques, ou PC.
        
            Pour gagner des PC, tu dois placer tes cartes sur le Tapis De Jeu. Plus la Puissance de ta carte est élevée, plus tu
            obtiens de PC. Ces Points Cosmiques sont importants, car ils te permettent de faire de nouvelles invocations pour
            obtenir d’autres cartes de Tarot, peut-être même des cartes de rang supérieur.
        
            Pour bien démarrer, tu auras une invocation gratuite dès ton inscription, afin d'obtenir ta première carte et
            commencer à gagner des PC. Profite bien de ton aventure mystique avec tes cartes de Tarot !</p>


</div>


{% endblock %}