{% extends 'base.html.twig' %}

{% block title %}Hello ChambreController!{% endblock %}

{% block body %}

<h2>Chambre</h2>

<label for="streamer-select">Choisir un Streamer</label>

<select name="streamer" id="streamer-select">

{% for streamer in streamers %}
    <option value="{{ streamer.id }}">{{ streamer.pseudo }}</option>
{% endfor %}

</select>


<button id="start-button">Commencer à générer de l'argent</button>

<p>Argent généré : <span id="argent-par-seconde">0</span></p>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}