{% extends 'base.html.twig' %}

{% block title %}Hello StreamerController!{% endblock %}

{% block body %}


<div class="tirage">
    
    <form action="{{ path('gacha') }}" method="POST" data-turbo="false">
        <button type="submit">Tirer un Streamer</button>
    </form>

    {# Afficher le résultat du tirage #}
    {% if message %}
        <p>{{ message }}</p>
        <img src="Img/{{ img }}.jpg" alt="Image de {{ img }}" />
    {% endif %}

</div>

{% endblock %}
