{% extends 'base.html.twig' %}

{% block title %}Collection{% endblock %}

{% block body %}
<div class="agence">

    <h2>Votre Collection :</h2>
    {% if cards is empty %}
        <p>You have no streamers.</p>
    {% else %}
        <div class="streamer-container cards">
            {% for card in cards %}
                <div class="streamer-card">
                    <p>{{ card.name }} ({{ card.rarity }})</p>
                    <img class="card colorcard animated hover" src="Img/{{ card.name }}.jpg" alt="Image de {{ card.name }}" />
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
